.mainPage {
    margin-top: 200px;
}

.mainPage__title {
    font-size: 65px;
}

.mainPage__subtitle {
    font-size: 21px;
}

.mainPage__form {
    margin: auto;
}
.main-header {
    margin-bottom: 30px;
}
.classic-title {
    font-size: 25px;
}
.title-group {
    margin-bottom: 10px;
}
.name-group {
    margin-top: 6px;
}
.list-teacher {

}
.maxHRadioButton{
    max-height: 50px;

}